@import "settings";

@import "foundation";

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.page-title {
  color: #DFEFFF;
  font-size: 72px;
}

.price-info {
    position: relative;
    top: 50px;

    .price-list {
      list-style: none;

      .checkbox-slider {
        position: relative;
        top: 10px;
      }

      .checkbox-label {
          margin-left: 10px;
      }
    }
}

.switch.my-switch input:checked + label {
  background: #CC97C5;
}

.switch.my-switch input + label {
  background: #B4ABB7;
}

svg {
  g {
    cursor: pointer;
  }

  g:hover {
    stroke: #FFF;
    stroke-width: 3;
  }
}

.price-chart {
  position: relative;
  top: 20px;

  .price-container {
      fill-opacity: 0.5;
  }

  text {
      text-anchor: end;
  }
}